<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>ShakeMaker</title>
    <link rel="stylesheet" href="stylesheets/style.css" type="text/css">
</head>

<body>
    <div class="banner">
        <img class="home-banner" src="/images/homeBanner.jpg" />
    </div>

    <ul>
        <li><a href="/drinkType">Types of Drinks</a></li>
        <li><a href="/drinks">Drinks</a></li>
        <li><a href="/drinksIngredients">Ingredients in Drinks</a></li>
        <li><a href="/ingredients">Ingredients</a></li>
        <li><a href="/reviews">User Reviews</a></li>
        <li><a href="/reviewMarks">Reviews Marks</a></li>
        <li><a href="/users">Users</a></li>
    </ul>
</body>

</html>