<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>ShakeMaker</title>
    <link rel="stylesheet" href="stylesheets/style.css" type="text/css">
</head>

<body>
    <div class="banner">
        <img class="home-banner" src="/images/homeBanner.jpg" />
    </div>

    <h1><%= title %></h1>
    <form action="/<%= title %>" method="POST">
        <input type="text" placeholder="name" name="name">
        <input type="text" placeholder="quote" name="quote">
        <button type="submit">Submit</button>
      </form>
</body>

</html>