body{
  background-color: #F4F4F2;
  background-repeat: repeat;
  text-shadow: #FFFFFF 0px 1px 0px;
  margin: 0%;
  font-family: "Georgia", "Times", serif;
  position: relative;
}

a{
  text-decoration: none;
}

.home-banner{
  max-height: 720px;
}

.main-content{
  top: 20px;
  right: 20px;
  position: absolute;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
 
li {
  font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
  border-bottom: 1px solid #ccc;
}

li a {
  text-decoration: none;
  color: #000;
  display: block;
  width: 300px;
  transition: font-size 0.3s ease, background-color 0.3s ease;
}

li a:hover {
  font-size: 30px;
}

table {
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 20px;
	margin: 45px;
	width: 480px;
	border-collapse: collapse;
	text-align: left;
}

th {
	font-size: 26px;
	font-weight: normal;
	padding: 10px 8px;
	border-bottom: 2px solid;
}

td {
	border-bottom: 1px solid #ccc;
	padding: 6px 8px;
}

h1 {
  text-align: right;
}